<!DOCTYPE html>
<html>
    <head>
        <title>VueJS</title>
        <link href="css/bootstrap.css" />
    </head>
    <body>
        <div id="elzero-app">
            <input type="text" v-model="username">
            <button @click="getRepos()">Get Repos</button>

            <div v-for="repo in repos">
                <h4>{{ repo.name }}</h4>
            </div>
        </div>

        <script src="js/vue.js"></script>
        <script src="js/axios.min.js"></script>

        <script>
            new Vue({
                el: "#elzero-app",
                data: {
                    username: '', // like osamaelzero, or elzerowebschool
                    repos: ''
                }, 
                
                methods: {
                    getRepos: function(){
                        return axios
                            .get(`https://api.github.com/users/${this.username}/repos`)
                            .then(response => {
                                this.repos = response.data;
                            })
                            .catch(error => {
                                console.log(error);
                            });
                    },
                }
            });
        </script>
    </body>
</html>